                                                                                                                                                          
@font-face {font-family: 'Ubuntu-Light';src: url('Ubuntu-Light.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Ubuntu-LightItalic';src: url('Ubuntu-LightItalic.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Ubuntu-Italic';src: url('Ubuntu-Italic.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Ubuntu-Regular';src: url('Ubuntu-Regular.ttf') format('truetype');font-weight: normal;font-style: normal;} 
@font-face {font-family: 'UbuntuCondensed-Regular';src: url('Ubuntu-C.ttf') format('truetype');font-weight: normal;font-style: normal;} 
@font-face {font-family: 'Ubuntu-Medium';src: url('Ubuntu-Medium.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Ubuntu-MediumItalic';src: url('Ubuntu-MediumItalic.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Ubuntu-Bold';src: url('Ubuntu-Bold.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Ubuntu-BoldItalic';src: url('Ubuntu-BoldItalic.ttf') format('truetype');font-weight: normal;font-style: normal;}


@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?4bhfd4');
  src:  url('icomoon.eot?4bhfd4#iefix') format('embedded-opentype'),
    url('icomoon.ttf?4bhfd4') format('truetype'),
    url('icomoon.woff?4bhfd4') format('woff'),
    url('icomoon.svg?4bhfd4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] { 
  font-family: 'icomoon' !important;
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timbradoFi:before {
  content: "\e900";
}
.icon-ticketCompraFi:before {
  content: "\e901";
}
.icon-graficaFi:before {
  content: "\e902";
}
.icon-noticiasFi:before {
  content: "\e903";
}
.icon-comprasFi:before {
  content: "\e904";
}
.icon-tiendaFi:before {
  content: "\e905";
}
.icon-cerebroFi:before {
  content: "\e906";
}
.icon-addendasFi:before {
  content: "\e907";
}
.icon-sistemaGratuitoFi:before {
  content: "\e908";
}
.icon-ticketsFi:before {
  content: "\e909";
}
.icon-desarrolloFi:before {
  content: "\e90a";
}
.icon-validadorFi:before {
  content: "\e90b";
}
.icon-buzonFi:before {
  content: "\e90c";
}
.icon-convertidorXmlFi:before {
  content: "\e90d";
}
.icon-complementosFi:before {
  content: "\e90e";
}
.icon-conexionRemotaFi:before {
  content: "\e90f";
}
.icon-negociosFi:before {
  content: "\e910";
}
.icon-aerolineas:before {
  content: "\e911";
}
.icon-xmlFy2:before {
  content: "\e912";
}
.icon-cliente:before {
  content: "\e913";
}
.icon-clientes:before {
  content: "\e914";
}
.icon-soporteTecnicoFy:before {
  content: "\e915";
}
.icon-logoIntranetFy:before {
  content: "\e916";
}
.icon-pnlSoporteUsuarios:before {
  content: "\e917";
}
.icon-registroCfdi:before {
  content: "\e918";
}
.icon-xmlFd:before {
  content: "\e919";
}
.icon-play3:before {
  content: "\e91a";
}
.icon-final3:before {
  content: "\e91b";
}
.icon-principio3:before {
  content: "\e91c";
}
.icon-soporteTecnico:before {
  content: "\e91d";
}
.icon-servidor:before {
  content: "\e91e";
}
.icon-esMasFacil:before {
  content: "\e91f";
}
.icon-play:before {
  content: "\e920";
}
.icon-final:before {
  content: "\e921";
}
.icon-principio:before {
  content: "\e922";
}
.icon-arriba3:before {
  content: "\e923";
}
.icon-abajo3:before {
  content: "\e924";
}
.icon-logoLinux:before {
  content: "\e925";
}
.icon-rating3:before {
  content: "\e926";
}
.icon-smartphone:before {
  content: "\e927";
}
.icon-logoSafari:before {
  content: "\e928";
}
.icon-malo:before {
  content: "\e929";
}
.icon-libra:before {
  content: "\e92a";
}
.icon-acercar:before {
  content: "\e92b";
}
.icon-usuarios:before {
  content: "\e92c";
}
.icon-fotografia2:before {
  content: "\e92d";
}
.icon-pc:before {
  content: "\e92e";
}
.icon-logoOpera:before {
  content: "\e92f";
}
.icon-candado2:before {
  content: "\e930";
}
.icon-euro:before {
  content: "\e931";
}
.icon-menos:before {
  content: "\e932";
}
.icon-candado1:before {
  content: "\e933";
}
.icon-atras5:before {
  content: "\e934";
}
.icon-teclado:before {
  content: "\e935";
}
.icon-logoExplorer:before {
  content: "\e936";
}
.icon-html:before {
  content: "\e937";
}
.icon-bueno:before {
  content: "\e938";
}
.icon-abajo5:before {
  content: "\e939";
}
.icon-regalo:before {
  content: "\e93a";
}
.icon-arriba5:before {
  content: "\e93b";
}
.icon-logoFirefox:before {
  content: "\e93c";
}
.icon-adelante5:before {
  content: "\e93d";
}
.icon-generoMasculino:before {
  content: "\e93e";
}
.icon-generoFemenino:before {
  content: "\e93f";
}
.icon-generos:before {
  content: "\e940";
}
.icon-rating2:before {
  content: "\e941";
}
.icon-regular:before {
  content: "\e942";
}
.icon-paquete:before {
  content: "\e943";
}
.icon-crop:before {
  content: "\e944";
}
.icon-logoChrome:before {
  content: "\e945";
}
.icon-logoApple:before {
  content: "\e946";
}
.icon-transaccion2:before {
  content: "\e947";
}
.icon-transaccion:before {
  content: "\e948";
}
.icon-textoBold:before {
  content: "\e949";
}
.icon-logoBanorte:before {
  content: "\e94a";
}
.icon-Xml:before {
  content: "\e94b";
}
.icon-organizacional:before {
  content: "\e94c";
}
.icon-adelante4:before {
  content: "\e94d";
}
.icon-atras4:before {
  content: "\e94e";
}
.icon-logoDiezPuntoCinco:before {
  content: "\e94f";
}
.icon-usuario:before {
  content: "\e950";
}
.icon-transferencia2:before {
  content: "\e951";
}
.icon-reloj2:before {
  content: "\e952";
}
.icon-agregarPago2:before {
  content: "\e953";
}
.icon-tickets2:before {
  content: "\e954";
}
.icon-vistaPrevia2:before {
  content: "\e955";
}
.icon-borrar:before {
  content: "\e956";
}
.icon-autofacturaciónFd:before {
  content: "\e957";
}
.icon-check2:before {
  content: "\e958";
}
.icon-global:before {
  content: "\e959";
}
.icon-bridgeTxtFy:before {
  content: "\e95a";
}
.icon-ticketsFy:before {
  content: "\e95b";
}
.icon-imprimir:before {
  content: "\e95c";
}
.icon-correoFy:before {
  content: "\e95d";
}
.icon-nubeFy:before {
  content: "\e95e";
}
.icon-etiquetaFy:before {
  content: "\e95f";
}
.icon-timbradoFy:before {
  content: "\e960";
}
.icon-cfdiFy:before {
  content: "\e961";
}
.icon-notasFy:before {
  content: "\e962";
}
.icon-xmlFy:before {
  content: "\e963";
}
.icon-sistemaOnlineFd:before {
  content: "\e964";
}
.icon-logoSalud2:before {
  content: "\e965";
}
.icon-paqueteria:before {
  content: "\e966";
}
.icon-tienda:before {
  content: "\e967";
}
.icon-efectivo2:before {
  content: "\e968";
}
.icon-timbradoFel2:before {
  content: "\e969";
}
.icon-timbradoFel:before {
  content: "\e96a";
}
.icon-automotriz:before {
  content: "\e96b";
}
.icon-logoExcel:before {
  content: "\e96c";
}
.icon-logoWord:before {
  content: "\e96d";
}
.icon-guardar:before {
  content: "\e96e";
}
.icon-logoPayPal:before {
  content: "\e96f";
}
.icon-radio:before {
  content: "\e970";
}
.icon-tutorial2:before {
  content: "\e971";
}
.icon-bancos:before {
  content: "\e972";
}
.icon-logoWhatsapp:before {
  content: "\e973";
}
.icon-codigoQr:before {
  content: "\e974";
}
.icon-logoPinterest:before {
  content: "\e975";
}
.icon-buscar:before {
  content: "\e976";
}
.icon-meGusta:before {
  content: "\e977";
}
.icon-laptop:before {
  content: "\e978";
}
.icon-manualesFd:before {
  content: "\e979";
}
.icon-creditoNegocioFd:before {
  content: "\e97a";
}
.icon-addendas:before {
  content: "\e97b";
}
.icon-balance:before {
  content: "\e97c";
}
.icon-logoInstagram:before {
  content: "\e97d";
}
.icon-hazNegocioFD:before {
  content: "\e97e";
}
.icon-facturaFD:before {
  content: "\e97f";
}
.icon-tutorialFd:before {
  content: "\e980";
}
.icon-corazon:before {
  content: "\e981";
}
.icon-nube:before {
  content: "\e982";
}
.icon-logoSevenEleven:before {
  content: "\e983";
}
.icon-logoKio:before {
  content: "\e984";
}
.icon-timbradoFd:before {
  content: "\e985";
}
.icon-cfdiFd:before {
  content: "\e986";
}
.icon-validadorFd:before {
  content: "\e987";
}
.icon-FacturasGratisFD:before {
  content: "\e988";
}
.icon-buzonFd:before {
  content: "\e989";
}
.icon-ticketFd:before {
  content: "\e98a";
}
.icon-calculadoraFD:before {
  content: "\e98b";
}
.icon-reciboNominaFd:before {
  content: "\e98c";
}
.icon-tarjetaCreditoFd:before {
  content: "\e98d";
}
.icon-logoIntranetFd:before {
  content: "\e98e";
}
.icon-negocio:before {
  content: "\e98f";
}
.icon-productosFd:before {
  content: "\e990";
}
.icon-mercancia:before {
  content: "\e991";
}
.icon-correo2:before {
  content: "\e992";
}
.icon-logoGooglePlus:before {
  content: "\e993";
}
.icon-logoOxxo:before {
  content: "\e994";
}
.icon-volumenMas:before {
  content: "\e995";
}
.icon-logoCompropago:before {
  content: "\e996";
}
.icon-volumenMenos:before {
  content: "\e997";
}
.icon-logoMastercard:before {
  content: "\e998";
}
.icon-mensaje:before {
  content: "\e999";
}
.icon-logoPdf:before {
  content: "\e99a";
}
.icon-notas2:before {
  content: "\e99b";
}
.icon-logoAndroid:before {
  content: "\e99c";
}
.icon-adelante2:before {
  content: "\e99d";
}
.icon-atras2:before {
  content: "\e99e";
}
.icon-atras:before {
  content: "\e99f";
}
.icon-adelante:before {
  content: "\e9a0";
}
.icon-textoJustificado:before {
  content: "\e9a1";
}
.icon-textoIzquierda:before {
  content: "\e9a2";
}
.icon-textoDerecha:before {
  content: "\e9a3";
}
.icon-textoCentrado:before {
  content: "\e9a4";
}
.icon-edificio:before {
  content: "\e9a5";
}
.icon-calculadora:before {
  content: "\e9a6";
}
.icon-llave:before {
  content: "\e9a7";
}
.icon-logoYouTube:before {
  content: "\e9a8";
}
.icon-logoFacebook:before {
  content: "\e9a9";
}
.icon-logoTwitter:before {
  content: "\e9aa";
}
.icon-correo:before {
  content: "\e9ab";
}
.icon-apagar:before {
  content: "\e9ac";
}
.icon-codigoBarras:before {
  content: "\e9ad";
}
.icon-fotografia:before {
  content: "\e9ae";
}
.icon-textoItalica:before {
  content: "\e9af";
}
.icon-textoSubrayado:before {
  content: "\e9b0";
}
.icon-notificacion:before {
  content: "\e9b1";
}
.icon-subir2:before {
  content: "\e9b2";
}
.icon-wifi:before {
  content: "\e9b3";
}
.icon-global2:before {
  content: "\e9b4";
}
.icon-capacitacion:before {
  content: "\e9b5";
}
.icon-informacion:before {
  content: "\e9b6";
}
.icon-editar2:before {
  content: "\e9b7";
}
.icon-vistaPrevia:before {
  content: "\e9b8";
}
.icon-descuento:before {
  content: "\e9b9";
}
.icon-tutorial:before {
  content: "\e9ba";
}
.icon-maximizar:before {
  content: "\e9bb";
}
.icon-manuales:before {
  content: "\e9bc";
}
.icon-subir:before {
  content: "\e9bd";
}
.icon-descargar:before {
  content: "\e9be";
}
.icon-rating:before {
  content: "\e9bf";
}
.icon-vinculo:before {
  content: "\e9c0";
}
.icon-borrar1:before {
  content: "\e9c1";
}
.icon-adelante3:before {
  content: "\e9c2";
}
.icon-atras3:before {
  content: "\e9c3";
}
.icon-tickets:before {
  content: "\e9c4";
}
.icon-etiqueta:before {
  content: "\e9c5";
}
.icon-dudas:before {
  content: "\e9c6";
}
.icon-logoSalud:before {
  content: "\e9c7";
}
.icon-ajustes4:before {
  content: "\e9c8";
}
.icon-garantiaFel:before {
  content: "\e9c9";
}
.icon-editar:before {
  content: "\e9ca";
}
.icon-inversion:before {
  content: "\e9cb";
}
.icon-marcador:before {
  content: "\e9cc";
}
.icon-carpeta:before {
  content: "\e9cd";
}
.icon-transferencia:before {
  content: "\e9ce";
}
.icon-telefono:before {
  content: "\e9cf";
}
.icon-notas:before {
  content: "\e9d0";
}
.icon-efectivo:before {
  content: "\e9d1";
}
.icon-ajustes:before {
  content: "\e9d2";
}
.icon-timbrado:before {
  content: "\e9d3";
}
.icon-agregar2:before {
  content: "\e9d4";
}
.icon-advertencia:before {
  content: "\e9d5";
}
.icon-agregarUsuario:before {
  content: "\e9d6";
}
.icon-eliminarUsuario:before {
  content: "\e9d7";
}
.icon-logoPdf3:before {
  content: "\e9d8";
}
.icon-txt2:before {
  content: "\e9d9";
}
.icon-logoHsbc:before {
  content: "\e9da";
}
.icon-logoScotiabank:before {
  content: "\e9db";
}
.icon-logoBancomer:before {
  content: "\e9dc";
}
.icon-distribuidor:before {
  content: "\e9dd";
}
.icon-arriba4:before {
  content: "\e9de";
}
.icon-abajo4:before {
  content: "\e9df";
}
.icon-home:before {
  content: "\e9e0";
}
.icon-grafica:before {
  content: "\e9e1";
}
.icon-tarjetaCredito:before {
  content: "\e9e2";
}
.icon-eliminarCfdi:before {
  content: "\e9e3";
}
.icon-seleccionar:before {
  content: "\e9e4";
}
.icon-xml3:before {
  content: "\e9e5";
}
.icon-logoPdf2:before {
  content: "\e9e6";
}
.icon-gasolinera:before {
  content: "\e9e7";
}
.icon-cfdi:before {
  content: "\e9e8";
}
.icon-logoSat:before {
  content: "\e9e9";
}
.icon-documentoSat:before {
  content: "\e9ea";
}
.icon-calendario:before {
  content: "\e9eb";
}
.icon-actualizar2:before {
  content: "\e9ec";
}
.icon-actualizar:before {
  content: "\e9ed";
}
.icon-soloLectura:before {
  content: "\e9ee";
}
.icon-agregar:before {
  content: "\e9ef";
}
.icon-txt:before {
  content: "\e9f0";
}
.icon-log:before {
  content: "\e9f1";
}
.icon-grafica2:before {
  content: "\e9f2";
}
.icon-cheque:before {
  content: "\e9f3";
}
.icon-borrar3:before {
  content: "\e9f4";
}
.icon-reloj:before {
  content: "\e9f5";
}
.icon-agregarPago:before {
  content: "\e9f6";
}
.icon-arriba2:before {
  content: "\e9f7";
}
.icon-abajo2:before {
  content: "\e9f8";
}
.icon-autoridades:before {
  content: "\e9f9";
}
.icon-check:before {
  content: "\e9fa";
}
.icon-capturaCfdi:before {
  content: "\e9fb";
}
.icon-pnlAdminUsuarios:before {
  content: "\e9fc";
}
.icon-xml2:before {
  content: "\e9fd";
}
.icon-documentos:before {
  content: "\e9fe";
}
.icon-ajustes3:before {
  content: "\e9ff";
}
.icon-catalogosCuenta:before {
  content: "\ea00";
}
.icon-ajustes2:before {
  content: "\ea01";
}
.icon-productos:before {
  content: "\ea02";
}
.icon-registros:before {
  content: "\ea03";
}
.icon-panelPrincipal:before {
  content: "\ea04";
}
.icon-logoFI:before {
  content: "\ea05";
}
.icon-logoFY:before {
  content: "\ea06";
}
.icon-logoFL:before {
  content: "\ea07";
}
.icon-logoFD:before {
  content: "\ea08";
}